<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="mr-3">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Entrevista</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/colaborator'" (click)="sidenav.toggle()"
        ><mat-icon class="mr-2">accessibility_new</mat-icon> Take.Seres
      </a>
      <a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()"
        ><mat-icon class="mr-2">emoji_people</mat-icon> Candidatos
      </a>
      <a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()"
        ><mat-icon class="mr-2">dashboard</mat-icon> Eventos
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
